# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/checkstyle-idea.xml
/gitops-foundations-env-2892009.iml
/sonarlint/issuestore/index.pb
/jpa-buddy.xml
/misc.xml
/modules.xml
/vcs.xml
